{% assign page_url = page.url | absolute_url %}
{% if page.url == "/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Akreon",
  "url": {{ site.url | jsonify }},
  "logo": {{ "/images/akreon-logo.png" | absolute_url | jsonify }},
  "description": {{ site.description | jsonify }},
  "sameAs": {{ site.social.links | jsonify }}
}
</script>
{% elsif page.schema_type == "TechArticle" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "url": {{ page_url | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": "Akreon",
    "url": {{ site.url | jsonify }}
  }
}
</script>
{% endif %}
